@use '../../../shared/styles/base/helpers' as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 150px);
  column-gap: rem(50);
  row-gap: 50px;
  justify-items: stretch;
}