@use '../../../shared/styles/base/helpers' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.title {
  margin: 0 auto;
}

.sectionTitle {
  margin: 0 0 rem(20);
  font-size: rem(20);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: rem(20);
  row-gap: rem(20);
  justify-items: stretch;

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet-s {
    grid-template-columns: repeat(1, 1fr);
  }
}