@use '../../../shared/styles/base/helpers' as *;


.active {
  color: var(--color-accent);
}
.sidebar {
  height: 100%;
  background: linear-gradient(180deg, rgba(166,240,255,1) 0%, rgba(220,250,255,1) 49%, rgba(230,252,255,1) 100%);
}