@use '../../../shared/styles/base/helpers' as *;

.layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  height: 100vh;
  overflow-y: auto;
}
