@use '../../../../shared/styles/base/helpers' as *;

.card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(20);
  border: var(--border);
  padding: rem(20);
}
.title {

  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo {
  display: flex;
  align-items: center;
  gap: rem(20);


  @include laptop {
    gap: rem(10);
  }
}
.flag {
  width: rem(40);
  height: rem(40);

  @include laptop {
    width: rem(30);
    height: rem(30);
  }
}

.name {
  font-size: fluid(18, 14);

  @include laptop {
    font-size: fluid(18, 14);
  }
}

.button {
  background-color: transparent;
  border: var(--border-button);
  border-radius: rem(10);
  font-size: rem(14);
  padding: rem(10);

  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--color-accent);
  }

}
.buttonHeart {
  background: transparent;
  border: none;
}